.shops-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center;
  padding: 20px;
  background-color: #333;
  color: #d4af37;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.shop {
  border: 1px solid #b38b59;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.shop img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.shop h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #d4af37;
}

.shop p {
  font-size: 1em;
  color: #d4af37;
  margin: 5px 0;
}

.shop a {
  text-decoration: none;
  color: inherit;
}
