.add-item-form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 10px;
  background-color: #2a2a2a;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.add-item-labels {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2em;
  color: #d4af37;
}

.add-item-input-field {
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #1c1c1c;
  color: #d4af37;
  width: 100%;
  font-size: 1em;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.add-items-button {
  background-color: #d4af37;
  color: #1c1c1c;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  width: 100%;
  opacity: 0.9;
  transition: background-color 0.3s, opacity 0.3s;
}

.add-items-button:hover {
  background-color: #b08f26;
  opacity: 1;
}

.add-items-button:disabled {
  background-color: #b08f26;
  cursor: not-allowed;
}
