body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1c1c1c;
  color: #ffffff;
}

.favorite-list-page {
  max-width: 1200px;
  margin: 50px auto;
  padding: 40px;
  border: 1px solid #444;
  border-radius: 10px;
  background-color: #2a2a2a;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.favorite-list-page h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  border-bottom: 2px solid #dfa81d;
  display: inline-block;
  padding-bottom: 10px;
}

.favorite-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.favorite-item {
  background-color: #1c1c1c;
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 20px;
  padding: 20px;
  width: calc(33% - 60px);
  transition: transform 0.3s, box-shadow 0.3s;
}

.favorite-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.favorite-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.favorite-item h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #f0cd32;
}

.favorite-item p {
  font-size: 1.2em;
  color: #dfa81d;
}
