.map {
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .map-container {
    height: auto;
    padding: 15px;
  }

  .map-container h2 {
    font-size: 1.5em;
  }

  .map-container p {
    font-size: 1em;
  }
}
