.cart-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.cart-page h1 {
  font-size: 3em;
  margin-bottom: 20px;
  border-bottom: 2px solid #d4af37;
  display: inline-block;
  padding-bottom: 10px;
}

.cart-items-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.cart-item-card {
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cart-item-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.cart-item-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cart-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cart-item-header h2 {
  font-size: 1.5em;
  margin: 0;
}

.cart-item-header p {
  font-size: 1em;
  color: #bbb;
  margin: 10px 0;
  flex-grow: 1;
}

.cart-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.cart-item-header p {
  margin: 0 10px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-control button {
  background-color: #d4af37;
  color: #1c1c1c;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quantity-control button:hover {
  background-color: #b08f26;
}

.cart-item-card button {
  background-color: #d4af37;
  color: #1c1c1c;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-item-card button:hover {
  background-color: #b08f26;
}

.cart-total {
  font-size: 2em;
  margin-top: 20px;
}

.cart-checkout {
  margin-top: 20px;
}

.cart-checkout button {
  background-color: #d4af37;
  color: #1c1c1c;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-checkout button:hover {
  background-color: #b08f26;
}

@media (max-width: 768px) {
  .cart-item-card {
    flex-direction: column;
    align-items: center;
  }

  .cart-item-card img {
    margin-bottom: 20px;
  }

  .cart-item-header {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .cart-item-header {
    flex-direction: column;
    align-items: center;
  }
}
