.items-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: #f0cd32;
  border: 1px solid #dfa81d;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.items-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.item-card {
  background: none;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.item-card img {
  border-radius: 10px;
  width: 100px;
  height: auto;
}

.item-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.item-header h2 {
  font-size: 1.5em;
  margin: 0;
  color: #c28400;
}

.item-header p {
  font-size: 1em;
  color: #ffffff;
  margin: 10px 0;
  flex-grow: 1;
}

.item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.item-footer p {
  margin: 0 10px;
  color: #ffffff;
}

.item-footer button {
  background-color: #dfa81d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .items-card img {
    height: 150px;
  }
}
