.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: transparent;
  border-bottom: none;
  box-shadow: none;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  width: auto;
}

.nav-links-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navButton {
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  background-color: transparent;
}

.navButton:hover {
  background-color: #dfa81d;
  color: #1c1c1c;
  border: 1px solid #dfa81d;
}

.guest-user-links {
  display: flex;
  gap: 10px;
}
