.registration-form {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #444;
  border-radius: 10px;
  background-color: #2a2a2a;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.registration-form h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  /* border-bottom: 2px solid #d4af37; */
  display: inline-block;
  padding-bottom: 10px;
}

.registration-form label {
  font-size: 1.2em;
  margin: 10px 0;
  color: #d4af37;
  width: 100%;
  text-align: left;
}

.registration-form input {
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #1c1c1c;
  color: #d4af37;
  width: 100%;
  font-size: 1em;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.registration-form button {
  background-color: #d4af37;
  color: #1c1c1c;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.2em;
  margin-top: 20px;
}

.registration-form button:hover {
  background-color: #b08f26;
}
