.update-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  /* text-align: center; */
  border: 1px solid #444;
  border-radius: 10px;
  background-color: #2a2a2a;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.input-wrapper {
  margin-bottom: 20px;
}

.label {
  font-size: 1.2em;
  color: #d4af37;
  display: block;
  margin-bottom: 5px;
}

.inputField {
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #1c1c1c;
  color: #d4af37;
  width: 100%;
  font-size: 1em;
  box-sizing: border-box;
}

.authButton {
  background-color: #d4af37;
  color: #1c1c1c;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.2em;
  width: 100%;
}

.authButton:hover {
  background-color: #b08f26;
}

.authButton[disabled] {
  background-color: #b08f26;
  cursor: not-allowed;
}
